<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8"/>
      <title>SCAD</title>
    </head>
  <body>
    <h1>Seja bem vindo a carteira digital SCAD</h1>
    <a href='formRegister'>Cadastrar novo vacinado</a>
    <a href='allVaccinated'>Listar todos os vacinado</a>
  </body>
</html>
