<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="/css/style.css">
      <title>SCAD</title>
    </head>
  <body>
    <div class="box">
      <h1 class="teste">Seja bem vindo a carteira digital SCAD</h1>
      <a class="fontColor" href='formRegister'>Cadastrar novo vacinado</a><br/><br/>
      <a class="fontColor" href='allVaccinated'>Listar todos os vacinados</a><br/><br/>
      <a class="fontColor" href='formRegisterVaccine'>Cadastrar nova vacina</a><br/><br/>
      <a class="fontColor" href='allVaccines'>Listar todas as vacinas</a>
    </div>
  </body>
</html>
